*~
*.ipynb_checkpoints/
*.png
*.jpg
*.jpeg
*.pyc
*.swp
*.swo
*.vscode
*.log
*.xls
*.vscode
*graph
*.pb
*.meta
*.index
*.gv
*.svg
*.out
*.cu
*.txt
*.zip
models/
!./figures/*.jpg
!./figures/*.png

# Deep learning related
*.pth
*.caffemodel
train-*

# ROS related
*.bag
*.pcd
build/
install/
devel/
catkin_ws/src/CMakeLists.txt
catkin_ws/.catkin_workspace
catkin_ws/.catkin_tools
